<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ホーム画面</title>
		<link rel="stylesheet" type="text/css" href="css/userlogin.css">
		<script type="text/javascript" src="js/userlogin.js"></script>
	</head>
	<body>
		<p th:text="${ID}">
		<p>つぶやく</p>
		<form action ="userHome" method="POST">
			<input type="text" name="text" required="required">
			<input type="submit" value="投稿" ID="toukou">
		</form>
		<hr>
		<p th:text="${text}"></p>
		<a href="/userLogin">ログイン画面</a>
	</body>
</html>